*{
    margin: 0;
}

@font-face {
    font-family: funnel;
    src: url(fonts/FunnelDisplay-Regular.ttf) format(truetype);
}

.submit, .read, .delete{
    background: #f0eef1;
    padding: 5px;
    border-radius: 7px;
}
.body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    background-color: #F7F7A2;
}

.header{
    background-color: #22333B;
    text-align: center;
    padding: 7px;
    border-bottom: 2px solid black;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    overflow-y: auto;
    gap: 40px;
    background-color: #f4f1ea;
}

.book{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.5);
}

.details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.name{
    grid-column: span 3;
    font-size: 20px;
    padding: 5px 0;
    border-bottom: 2px solid black;
}

.author{
    grid-column: span 3;
    font-size: 16px;
    padding: 5px 0;
}

.more-info{
    font-size: 13px;
    /*border-bottom: 2px solid black;*/
    margin-bottom: 10px;
}

.add-book{
    position: absolute;
    top: 80%;
    left: 75%;
    z-index: 1;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    font-size: 48px;
    background-color: #f4f1ea;
    color: black;
}

dialog{
    position: absolute;
    width: 70vw;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    padding: 20px;
    background-color: #EAE0D5;
}

dialog > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    padding: 7px;
    border-radius: 7px;
    border: 2px solid white;
    background-color: white;
}

input:focus{
    outline: none;
}

.delete{
    grid-column-start: 3;
    background-color: #FC2828F0;
}
/*.body{
    : ;
}
.header{
    color: lightblue;
    border-color: lightblue;
}

.book{
    border-color: black;
    background-color: white;
    color: black;
    
}*/
